*{
  margin: 0%;
  padding: 0%;
}
.App {
  text-align: center;
}
body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

#editor{
  width:1000px;
font-size: 15px;
padding: 20px;
outline: none;
border-radius:10px;
}
#editor:focus{
  box-shadow: 0px 0px 3px 3px royalblue;
}

#label{
  color: rgb(122, 204, 184);
}
#preview{
  padding: 20px;
  text-align: left;
  background-color: rgb(243, 181, 217);
  color: black;
  border: 2px solid black;
  position: absolute;
  width: 1000px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px gray;
  border-radius: 15px;
}
